<head>
<link href="app.css" type="text/css" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">
  </script>

</head>
<body>
 <header>
    <h1>todo<span>list</span></h1>
    <h2>A simple todo list app built with node</h2>
 </header>
 <section class="form">
     <input type="text" id="todoInput" placeholder="Insert your task here...">
 </section>
 <ul class="list">
 </ul>


<script src="app.js" type="text/javascript"></script>

</body>